<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="false">
    <display-name>Weather sensor gateway</display-name>

<!--
    <servlet-mapping>
        <servlet-name>GatewayServlet</servlet-name>
        <url-pattern>/sensor-readings</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>GatewayServlet</display-name>
        <servlet-name>GatewayServlet</servlet-name>
        <servlet-class>com.donriver.labs.sandbox.servlets.weather.gateway.servlets.GatewayServlet</servlet-class>
    </servlet>
-->
</web-app>